{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p> Welcome in Coffeeshop! Please register yourself 
    and feel free to add new tea, coffee or whatever you like to drink! </p>
{{end}}    