{{template "base" .}}

{{define "title"}}Create a New Coffee{{end}}

{{define "main"}}
<form action='/coffee/create' method='POST'>
    <div>
        <label>Name:</label>
        {{with .FormErrors.name}}
            <label class='error'>{{.}}</label>
        {{end}}    
        <input type='text' name='name' value='{{.FormData.Get "name"}}'>
    </div>
    <div>
        <label>Ingredients:</label>
        {{with .FormErrors.ingredients}}
            <label class='error'>{{.}}</label>
        {{end}}    
        <textarea name='ingredients'>{{.FormData.Get "ingredients"}}</textarea>
    </div>
    <div>
        <input type='submit' value='Publish coffee'>
    </div>
</form>
{{end}}        