{{template "base" .}}

{{define "title"}}Create a New Coffee{{end}}

{{define "main"}}
<form action='/coffee/create' method='POST'>
    {{with .Form}}
        <div>
            <label>Name:</label>
            {{with .Errors.Get "name"}}
                <label class='error'>{{.}}</label>
            {{end}}    
            <input type='text' name='name' value='{{.Get "name"}}'>
        </div>
        <div>
            <label>Ingredients:</label>
            {{with .Errors.Get "ingredients"}}
                <label class='error'>{{.}}</label>
            {{end}}    
            <textarea name='ingredients'>{{.Get "ingredients"}}</textarea>
        </div>
        <div>
            <input type='submit' value='Publish coffee'>
        </div>
    {{end}}    
</form>
{{end}}        