{{template "base" .}}

{{define "title"}} Coffee #{{.Coffee.ID}}{{end}}

{{define "main"}}
    {{with .Coffee}}
<div class='coffee'>
    <div class='metadata'>
        <strong>{{.Name}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Ingredients}}</code></pre>
    <div class='metadata'>
        <time>Created: {{humanDate .Created}}</time>
    </div>        
    {{end}}
{{end}}    